body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.form-cadastro, .form-excluir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 5px auto;
}

.form-cadastro input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-cadastro input[type="file"] {
    border: none;
}

.form-cadastro input[type="file"]::file-selector-button {
    background: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-cadastro input[type="file"]::file-selector-text {
    color: #333;
}

.form-cadastro input[type="file"]::file-selector-button:hover {
    background: #1c6ea4;
}

.form-cadastro input[type="file"]::file-selector-button:focus {
    outline: none;
}

.form-cadastro button {
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-excluir button {
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.form-cadastro button:hover {
    background: #1c6ea4;
}

.form-cadastro button:focus {
    outline: none;
}